include: https://gitlab-templates.ddbuild.io/compute-delivery/v2/compute-delivery.yml

variables:
  CI_DOCKER_IMAGE: registry.ddbuild.io/images/docker:24.0.4-gbi-focal
  DOCKER_CTX: "."
  DOCKER_BUILD_ARGS: ""

# Force git to remove any reference to the local disk copy of the repository
before_script:
  - git repack -a -d && rm -f .git/objects/info/alternates

.build-docker-image: &build-docker-image
  stage: build
  image: $CI_DOCKER_IMAGE
  tags: ["arch:arm64"]
  rules:
    # Run the pipeline for all pushed tags + schedules
    - if: $CI_COMMIT_TAG
    - if: $CI_PIPELINE_SOURCE == "schedule"
  id_tokens:
    DDSIGN_ID_TOKEN:
      aud: image-integrity
  script:
    - .gitlab/build-image.sh

build-docker-image-operator:
  <<: *build-docker-image
  variables:
    IMAGE_NAME: cilium-operator
    DOCKERFILE_PATH: images/operator/Dockerfile
    DOCKER_BUILD_ARGS: |
      OPERATOR_VARIANT=operator
      BASE_IMAGE=registry.ddbuild.io/images/base/gbi-distroless:release
      GOLANG_IMAGE=registry.ddbuild.io/images/mirror/golang:1.22.6@sha256:d5e49f92b9566b0ddfc59a0d9d85cd8a848e88c8dc40d97e29f306f07c3f8338
      ALPINE_IMAGE=registry.ddbuild.io/images/mirror/library/alpine:3.19.3@sha256:95c16745f100f44cf9a0939fd3f357905f845f8b6fa7d0cde0e88c9764060185
      CILIUM_BUILDER_IMAGE=registry.ddbuild.io/images/mirror/cilium/cilium-builder:44aac4a66ced0b0ef289cd5cab88a0d84e31c5fb@sha256:8c24539f04d6cc55fd427ef4787de64e8b3991fdc19dfe69df27b2e9c464dde3
    TARGET: release

build-docker-image-runtime:
  <<: *build-docker-image
  variables:
    IMAGE_NAME: cilium-runtime
    DOCKERFILE_PATH: images/runtime/Dockerfile
    DOCKER_BUILD_ARGS: |
      TESTER_IMAGE=registry.ddbuild.io/images/mirror/cilium/image-tester:dd09c8d3ef349a909fbcdc99279516baef153f22@sha256:c056d064cb47c97acd607343db5457e1d49d9338d6d8a87e93e23cc93f052c73
      GOLANG_IMAGE=registry.ddbuild.io/images/mirror/golang:1.22.6@sha256:d5e49f92b9566b0ddfc59a0d9d85cd8a848e88c8dc40d97e29f306f07c3f8338
      UBUNTU_IMAGE=registry.ddbuild.io/images/base/gbi-ubuntu_2204:release
      CILIUM_LLVM_IMAGE=registry.ddbuild.io/images/mirror/cilium/cilium-llvm:a8c542efc076b62ba683e7699c0013adb6955f0f@sha256:38e8941107bd19eb30bdde6e478760a22325f38d1f2771dfd1b9af81d74235e7
      CILIUM_BPFTOOL_IMAGE=registry.ddbuild.io/images/mirror/cilium/cilium-bpftool:0db3a73729ceb42e947d826bb96a655be79e5317@sha256:de23c9546c4eafab33f75d6f5d129947bbbafc132dbd113c0cecc9a61929e6b0
      CILIUM_IPTABLES_IMAGE=registry.ddbuild.io/images/mirror/cilium/iptables:67f517af50e18f64cd12625021f1c39246bb4f92@sha256:d075f03e89aacf51908346ec8ed5d251b8d3ad528ce30a710fcd074cdf91f11d
    DOCKER_CTX: "./images/runtime"

# Caveats:
# * The build image is single-arch amd64 and we're doing cross-compilation, so the dlv copy is only valid on amd64. In
#   other words, the arm64 image does not work.
build-docker-image-cilium:
  <<: *build-docker-image
  needs:
    # The cilium image depends on the runtime image
    - build-docker-image-runtime
  variables:
    IMAGE_NAME: cilium
    DOCKERFILE_PATH: images/cilium/Dockerfile
    DOCKER_BUILD_ARGS: |
      CILIUM_BUILDER_IMAGE=registry.ddbuild.io/images/mirror/cilium/cilium-builder:44aac4a66ced0b0ef289cd5cab88a0d84e31c5fb@sha256:8c24539f04d6cc55fd427ef4787de64e8b3991fdc19dfe69df27b2e9c464dde3
      CILIUM_ENVOY_IMAGE=registry.ddbuild.io/images/mirror/cilium/cilium-envoy:v1.29.7-39a2a56bbd5b3a591f69dbca51d3e30ef97e0e51@sha256:bd5ff8c66716080028f414ec1cb4f7dc66f40d2fb5a009fff187f4a9b90b566b
    TARGET: release
    NOSTRIP: 0
  artifacts:
    paths:
      - image_tags.txt

build-docker-image-hubble-relay:
  <<: *build-docker-image
  variables:
    IMAGE_NAME: hubble-relay
    DOCKERFILE_PATH: images/hubble-relay/Dockerfile
    DOCKER_BUILD_ARGS: |
      BASE_IMAGE=registry.ddbuild.io/images/base/gbi-distroless:release
      GOLANG_IMAGE=registry.ddbuild.io/images/mirror/golang:1.22.6@sha256:d5e49f92b9566b0ddfc59a0d9d85cd8a848e88c8dc40d97e29f306f07c3f8338
      CILIUM_BUILDER_IMAGE=registry.ddbuild.io/images/mirror/cilium/cilium-builder:44aac4a66ced0b0ef289cd5cab88a0d84e31c5fb@sha256:8c24539f04d6cc55fd427ef4787de64e8b3991fdc19dfe69df27b2e9c464dde3
    TARGET: release

build-docker-image-clustermesh-apiserver:
  <<: *build-docker-image
  variables:
    IMAGE_NAME: kvstoremesh
    DOCKERFILE_PATH: images/clustermesh-apiserver/Dockerfile
    DOCKER_BUILD_ARGS: |
      BASE_IMAGE=registry.ddbuild.io/images/base/gbi-distroless:release
      GOLANG_IMAGE=registry.ddbuild.io/images/mirror/golang:1.22.6@sha256:d5e49f92b9566b0ddfc59a0d9d85cd8a848e88c8dc40d97e29f306f07c3f8338
    TARGET: release

run-campaign:
  extends: .run-campaign
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - .gitlab/run-campaign.sh
